<%- include('./partials/header') %>
    <h1>Home</h1>

    <% if (isActive) { %>
        <h2>Esta activo</h2>
    <% } else { %>
        <h2>No esta activo</h2>
    <% } %>

    <%= new Date() %>

<%- include('./partials/footer') %>